/* EMILY ANDERSON
	KELSEY RACZAK
	N222
	07/15/13
*/

* {
	margin: 0;
}
html {
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#BFB7AA));
  background-image: -webkit-linear-gradient(top, #ffffff, #BFB7AA);
  background-image:    -moz-linear-gradient(top, #ffffff, #BFB7AA);
  background-image:      -o-linear-gradient(top, #ffffff, #BFB7AA);
  background-image:         linear-gradient(to bottom, #ffffff, #BFB7AA);
  background-repeat:no-repeat;
  margin-top: 20px;
}


#divA {
	position: relative;
	width: 100%;
	margin: 0;
	padding-bottom: 20px;
}

#searchForm {
	height: 40px;
    border: 1px solid #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    width: 300px;

}

#divA input[type="text"] {
    width: 80%;
    padding: 11px 0 10px 1em;
    color: #333;
    outline: none;
}


#searchText {
	font-size: 14px;
    color: #ddd;
    border-width: 0;
    background: transparent;
}


input#searchButton {
	position: absolute;

	left: 340px;
    height: 40px;
    width: 100px;
    font-size: 16px;
    color: white;
    line-height: 42px;
    border-width: 0;
    background-color: #263357;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#263357), to(#384C80));
	background-image: -webkit-linear-gradient(top, #263357, #384C80);
	background-image:    -moz-linear-gradient(top, #263357, #384C80);
	background-image:      -o-linear-gradient(top, #263357, #384C80);
	background-image:         linear-gradient(to bottom, #263357, #384C80);
    cursor: pointer;
    opacity: .8;
}

#searchButton:hover {
	opacity: 1;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	margin-left: 80px;
	margin-right: 80px;


}

h2 {
	opacity: .7;
}


#ytplayer {
	float: right;
	box-shadow: 0px 2px 2px grey;
}

#res {
	margin: 0 auto;
	border: 1px solid black;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	opacity: .7;
	width: 430px;
	padding: 10px;
	float: left;
	cursor: pointer;
	min-height: 400px;
	margin-bottom: 20px;
}

.searchItems {
		cursor: pointer;
		width: 15px;
		height: 22px;
		background-color: #183152;
		color: white;
		padding-left: 5px;
		padding-right: 7px;
		margin-left: 5px;
		position: absolute;

		}

.removeItems {
		cursor: pointer;
		width: 25px;
		height: 22px;
		background-color: #8b0303;
		color: white;
		position: absolute;
		right: 100px;
		text-align: center;
		padding-left: 3px;
		padding-right: 3px;
		float: right

	}

p {
	border: 1px inset grey;
	padding: 10px;
	opacity: .7;
}

p:hover {
	opacity: 1;
	background-color: #ABC8E2;
}

#divB {
	float: right;
	margin-top: 75px;
	border: 1px solid black;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	opacity: .7;
	width: 500px;
	min-height: 300px;
	cursor: pointer;
	margin-bottom: 20px;
	padding: 10px;
	margin-right: 100px;
}

#divB: p {
	border: 1px inset grey;
	padding: 10px;
	opacity: .7;
}

.removeChoice {
	color: black;
}